/*div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}*/

@charset "utf-8";
#div {
    width: 210px;
    margin: 0 auto;
}

#div ul {
    list-style: none;
    width: 210px;
    /*height: 280px;*/
    margin: 0 auto;
    
}

#div ul li{
    width: 66px;
    /*height: 80px;*/
    float: left;
    text-align: center;
    border: 1px solid #eee;
    margin: 0;
    background-color: blueviolet;
    color: white;
}

#div div {
    clear: both;
    width: 200px;
    text-align: center;
    margin: 42px;
    border: 1px solid black;
    background-color: pink;
}

#div .active {  
    /*记住前面一定要加上#div，不然显示不出效果*/
    background-color: powderblue;
    color: black;
    cursor: pointer;
}