
/*body {
    background-color: #eee;
    width: 100px;
    height: 200px;
    border: 1px solid red;
}

input {
    background-color: black;
    height: 50px;
    width: 10px;
}*/

div {
    height: 100px;
    width: 50px;
    background-color: gray;
    display: none;
}